/* div {
    height: 10vh;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.btn {
    margin: none;
    border: none;
    border-radius: 0;
}
button {
    min-height: 5vh !important;
    position: absolute;
    height: 50%;
}
*:focus {
    outline: none !important;
    border: none;
}
input {
    border: none;
    border-radius: 0;
    min-height: 5vh;
    position: absolute;
    height: 100%;
    background-color: red !important;
}
.input-group {
    padding: 30px;
    margin: 5px;
    background-color: gray;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.input-group > button,
.input-group > input {
} */
